{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Electronic Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Link to your CSS file -->
    {% load static %}
</head>
<body>
    <header>
        {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'product_list' %}">Products</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'cart_view' %}">Cart</a></li>
            <li><a href="{% url 'view_order' %}">Orders</a></li>
            {% if request.session.email %}
                <li><a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?');">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2024 Online Electronic Shop. All Rights Reserved.</p>
    </footer>

</body>
</html>
